.card {
    /* Add shadows to create the "card" effect */
    background: #0000;
    grid-column: 1 / 3;
    margin-top: 2%;
    margin-left: 1%;
    grid-row: 1;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 10px 16px;
    background-color: #0000;
  }

  .cardAction {
    margin-top: -2%;
  }