.container {
    background-color: #cccccc;
}

.loader {
    max-width: 50%;
    max-height: 50%;
    top: 28%;
    left: 40%;
    bottom: 20%;
    right: 50%;
    position: absolute;
    z-index: 100;
  }